:root {
  --main-color: #9854cb;
  --hover-color: #60328c;
  --dark-color: #333;
  --light-gray-color: #aaa;
  --dark-gray-color: #acacac;
  --white-color: #fff;
  --title-color: #444;
  --semi-gray-color: #f0f0f0;
  --managment-bg: #f9f9f9;
  --necessary: #abc421;
  --normal: #f9dac2;
  --border-radious: 15px;
}
@font-face {
  font-family: Tajawal;
  src: url("../font/Tajawal-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Tajawal;
  src: url("../font/Tajawal-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Tajawal;
  src: url("../font/Tajawal-Regular.ttf");
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: Tajawal;
}
body {
  background-color: var(--managment-bg);
}
.Container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--white-color);
  overflow: hidden;
}

.form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
.logo {
  margin-bottom: 1rem;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
}
.Container::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, var(--main-color), var(--hover-color));
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
}

form.sign-in-form {
  z-index: 2;
}
form.sign-up-form {
  z-index: 1;
  opacity: 0;
}
.title {
  font-size: 2.2rem;
  color: var(--title-color);
  margin-bottom: 10px;
}
.input-feild {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: var(--semi-gray-color);
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}
.input-feild i {
  text-align: center;
  line-height: 55px;
  color: var(--dark-gray-color);
  font-size: 1.1rem;
  transition: all 0.5s;
}
.input-feild input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--dark-color);
  transition: all 0.5s;
}
.input-feild:focus-within {
  border: 2px solid var(--main-color);
}
.input-feild:focus-within .focus-color {
  color: var(--main-color);
}
.input-feild input::placeholder {
  color: var(--light-gray-color);
  font-weight: 500;
}
.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
}
.btn:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}
.panels-container {
  direction: ltr;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}
.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}
.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.panel .content {
  color: #fff;
}
.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}
.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}
.btn.transparent {
  margin: 0 0 1.9rem 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.image {
  width: 94%;
}
.right-panel .content,
.right-panel .image {
  transform: translateX(800px);
}
@media (max-width: 870px) {
  .Container {
    min-height: 800px;
    height: 100vh;
  }
  .Container::before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 1s ease-in-out;
  }
  .signin-signup {
    width: 100%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -100%);
  }
  .panels-container {
    z-index: 10;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }
  .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .image {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }
  .left-panel {
    grid-row: 1/2;
  }
  .right-panel {
    grid-row: 3/4;
  }
  .right-panel .content,
  .right-panel .image {
    transform: translateY(300px);
  }
}
@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container::before {
    bottom: 72%;
    left: 50%;
  }
}
/* main page */
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user-greating {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--light-gray-color);
}
.daily-task,
.remain-tasks {
  background-color: var(--white-color);
  display: flex;
  border-radius: var(--border-radious);
  padding: 25px;
}
.remain-tasks {
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 870px) {
  .remain-tasks {
    align-items: center;
    justify-content: space-around;
    gap: 0;
  }
}
.task-num {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: var(--semi-gray-color);
  color: var(--white-color);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-weight: bold;
}
.task-num-all {
  font-weight: 700;
  font-size: 18px;
}
.task-num-all span {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
}
.toDo-img {
  width: 60px;
  /* align-self: flex-start; */
}
.search {
  background-color: var(--white-color);
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.search input {
  border: none;
  outline: none;
  width: 100%;
  margin-right: 10px;
}
.search i {
  color: var(--dark-gray-color);
}
.search input::placeholder {
  color: var(--light-gray-color);
}
.daily-task p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* progress */
.progress-container {
  max-height: 200px;
  max-width: 200px;
}
.progress-num {
  font-size: 25px !important;
  line-height: 0.5;
}
.progress-num + span {
  color: var(--dark-gray-color);
  font-size: 12px;
}

/* tasks */

.task-div {
  border-bottom: 2px solid var(--semi-gray-color);
}
.task-count p {
  color: var(--dark-gray-color);
  font-size: 16px;
}
.task-count div {
  background-color: var(--semi-gray-color);
  color: var(--main-color);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.necessary-task p {
  font-weight: 700;
  font-size: 16px;
  color: var(--dark-gray-color);
}
.necessary-task button {
  border: 1px solid var(--semi-gray-color);
  background-color: transparent;
  width: 30px;
  color: var(--main-color);
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.necessary-task button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.task-card {
  background-color: var(--white-color);
  padding: 18px;
  border-radius: var(--border-radious);
  transition: all 0.3s;
}
.checkbox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  background-color: transparent;
}
.task-content h5 {
  line-height: 1;
  margin: 0;
}
.task-content p {
  color: var(--dark-gray-color);
  font-size: 14px;
}
.task-time {
  display: flex;
  gap: 5px;
  font-size: 14px;
  background-color: var(--semi-gray-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}
.task-time p {
  margin: 0;
}
.task-time strong {
  color: var(--dark-color);
}
.task-mng button {
  color: var(--dark-gray-color);
  font-size: 14px;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
}
.task-mng button:hover {
  color: var(--main-color);
}
.btn-popup {
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
}
.btn-popup-close {
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  font-weight: 700;
}
.btn-popup-close:hover {
  border: none;
}
btn-popup,
btn-popup-close {
  width: 120px !important;
  height: 45px !important;
  border-radius: 49px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  margin: 10px 0;
  transition: all 0.5s;
}
.task-input {
  width: 100%;
  border: 1px solid var(--semi-gray-color);
  padding: 10px;
  border-radius: 10px;
}
.task-input input {
  border: none;
  outline: none;
  width: 100%;
}
.task-input i {
  font-size: 18px;
  margin-left: 5px;
  color: var(--dark-gray-color);
}
.priorty,
.category {
  font-weight: 700;
  display: flex;
  gap: 15px;
}
.priorty label,
.category label {
  font-size: 14px;
  min-width: 80px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.priorty label:hover,
.category label:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.priorty input:checked + .priorty-label,
.category input:checked + .category-label {
  background-color: var(--main-color);
  color: var(--white-color);
}
.priorty input,
.category input {
  display: none;
}
.task-prio,
.task-cat {
  font-size: 16px;
  font-weight: 700;
}
.important {
  color: var(--main-color);
}
.important-bg {
  background-color: var(--main-color) !important;
}
.normal {
  color: var(--normal);
}
.normal-bg {
  background-color: var(--normal) !important;
}
.necessary {
  color: var(--necessary);
}
.necessary-bg {
  background-color: var(--necessary) !important;
}
.necessary + p,
.normal + p,
.important + p {
  font-weight: 700;
}
.task-badge {
  color: white !important;
}
.logout {
  background-color: transparent;
  border: none;
  transition: all 0.5s;
}
.logout:hover {
  color: var(--main-color);
}
/* calender */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 28px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  border-radius: 10px;
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--necessary);
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 10px;
  background-color: #e6e6e6;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 10px;
}

.react-calendar__tile--hasActive {
  border-radius: 10px;
  color: var(--white-color);
  background: var(--main-color);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  border-radius: 10px;
}

.react-calendar__tile--active {
  background: #9854cb !important;
  border-radius: 10px;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #9854cb;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.calender-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: var(--border-radious);
  padding: 15px;
}
.dropdown {
  width: 30%;
}
.dropdown-btn {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--light-gray-color);
  font-size: 14px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-wrap: wrap;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown li {
  cursor: pointer;
}
.dropdown-btn li a {
  text-align: right !important;
}
.dropdown-menu {
  width: 100%;
}
.is-completed {
  opacity: 0.5;
}
.is-completed h5 {
  text-decoration: line-through;
}
.is-completed-bg {
  background-image: url("../img/check.svg");
  background-size: cover;
  border: none;
}
.no-task {
  text-align: center;
  opacity: 0.3;
  font-weight: 700;
  font-size: 18px;
}
.scroll {
  max-height: 66vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
::-webkit-scrollbar {
  width: 8px;
  margin: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: var(--border-radious);
}
@media (max-width: 1050px) {
  .react-calendar__month-view__weekdays {
    font-size: 7px;
  }
  .toDo-img {
    display: none;
  }
  .progress-num {
    font-size: 18px !important;
  }
  .progress-num + span {
    font-size: 10px;
  }
}
@media (max-width: 766px) {
  .react-calendar__month-view__weekdays {
    font-size: 10px;
  }
  .progress-num {
    font-size: 25px !important;
  }
  .progress-num + span {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .task-content p,
  .task-time {
    font-size: 10px;
  }
  .task-time {
  }
}
